#loading_background {
  top: 0;
  left: 0;
  position:absolute;
  background-color: rgba(0, 0, 0, 0.3);
}
#loading {
  position:fixed;
  top:50%;
  left:50%;
}

.link_convert_form .form_field {
  margin-bottom: 7px;
}

.form_field label {
  width: auto;
}

.form-button {
  margin-top: 13px;
}

.form_field label {
    display: block;
    float: none;
    text-align: left;
  margin-bottom: 3px;    
}

.page-header {
  margin-top: 80px;
}

.topbar div > ul.secondary-nav.sysdropdown {
  float: none;
}

.chassis {
  background-color: #F5F5F5;
  border: 1px solid #ccc;  
  border: 1px solid rgba(0, 0, 0, 0.15);  
  border-radius: 3px 3px 3px 3px;
  margin: 0 0 18px;
  padding: 8.5px;
}  

input {
  width: auto;
}

ul {
  margin-bottom: 0;
}

ul.success li, .success ul li, ul.error li, .error ul li {
  background: url("/common/images/icon_arrow_white.png") no-repeat scroll 0 7px transparent;
  color: #FFFFFF;
  list-style: none outside none;
  padding-left: 14px;
}

.field_error_message {
  color: #FF0000;
  font-weight: bold;
  font-size: 11px;
  margin-left: 6px;
  margin-top: 4px;
}

textarea, input, select {
  width: auto;
}

fieldset {
  margin-bottom: 3px;
  padding-top: 6px;
}

fieldset legend {
  display: block;
  float: none;
  margin-bottom: 3px;
  text-align: left;  
  color: #404040;
  display: block;
  font-size: inherit;
  line-height: 1;
  padding-left: inherit;
  padding-top: 6px;  
}

.clear {
  clear:both;
}

.fmst {
  float: left;
}

.codicil {
  margin-left: 10px;
}

.confmsg {
  margin-left: 8px;
  margin-bottom:12px;
}

dt {
  padding-bottom: 3px;
}

dd {
  padding-bottom: 7px;
}

.center {
  text-align: center;
}

.dropdown-toggle:after {
  margin-left: 0px;
}

.topbar div > ul a.dropdown-toggle {
   padding: 10px 6px 11px;
}

.upbutton {
  margin-bottom:17px;
  margin-right:18px;
  float:right;
}

.event_detail {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 4px #999999;
  display: none;
  position: fixed;
  width: 490px;
  z-index: 1000;
  padding: 15px;
}

.popup {
  overflow-x: auto;
  overflow-y: auto;
  height:200px;
}

.text_area {
  white-space: pre;
}

#event_select > .form {
  float:left;
  margin-left: 8px;
  margin-bottom:12px;  
}

#event_select > .link {
  float:left;
  margin-top:34px;
}

.account_name {
  float: right;
  margin-top:50px;
  margin-right:30px;
}

.community_count {
  margin-bottom: 16px;
}

.event_count {
  margin-top: 8px;
  margin-bottom: 16px;
}